fastapi
uvicorn
langchain_community
langchain
langchain-core
langgraph
langchain_google_genai
pydantic
python-dotenv
sqlalchemy
pandas
numpy
streamlit
scipy
tabulate
seaborn
matplotlib
langchain_experimental
openpyxl